@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --primary: #13aa78ff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
