@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --primary: #13aa78ff;

  --text-secondary: #bfc3c5ff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

@keyframes gradient-move {
  0%,
  100% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
}

@layer utilities {
  .gradient-animated-text {
    @apply bg-gradient-to-r from-(--primary) via-orange-300 to-(--primary) bg-clip-text text-transparent bg-[size:200%_200%] [animation:gradient-move_3s_ease_infinite];
  }
}
